{% extends 'base.html.twig' %}

{% block title %}Strona Główna - Mini CRM{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Witaj w Mini CRM</h1>
        <p>Wybierz sekcję:</p>
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ path('app_customer_index') }}">Klienci</a></li>
            <li class="list-group-item"><a href="{{ path('app_deal_index') }}">Transakcje</a></li>
            <li class="list-group-item"><a href="{{ path('app_stage_index') }}">Etapy</a></li>
            <li class="list-group-item"><a href="{{ path('app_employee_index') }}">Pracownicy</a></li>
            <li class="list-group-item"><a href="{{ path('app_roles_index') }}">Role</a></li>
        </ul>
    </div>
{% endblock %}