{% extends 'base.html.twig' %}

{% block title %}Main Page - Mini CRM{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center text-primary mb-4">Welcome to Mini CRM</h1>
        <p class="text-center">Choose section:</p>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ path('app_customer_index') }}" class="text-decoration-none">Customers</a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ path('app_deal_index') }}" class="text-decoration-none">Deals</a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ path('app_stage_index') }}" class="text-decoration-none">Stages</a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ path('app_employee_index') }}" class="text-decoration-none">Employees</a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ path('app_roles_index') }}" class="text-decoration-none">Roles</a>
            </li>
        </ul>
    </div>
{% endblock %}
