{% extends 'base.html.twig' %}

{% block title %}Roles{% endblock %}

{% block body %}
    <h1>Roles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>RoleId</th>
                <td>{{ role.roleId }}</td>
            </tr>
            <tr>
                <th>RoleName</th>
                <td>{{ role.roleName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_roles_index') }}">back to list</a>

    <a href="{{ path('app_roles_edit', {'roleId': role.roleId}) }}">edit</a>

    {{ include('roles/_delete_form.html.twig') }}
{% endblock %}
