{% extends 'base.html.twig' %}

{% block title %}Employee{% endblock %}

{% block body %}
    <h1>Employee</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>EmployeeId</th>
                <td>{{ employee.employeeId }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ employee.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ employee.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ employee.email }}</td>
            </tr>
            <tr>
                <th>PasswordHash</th>
                <td>{{ employee.passwordHash }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ employee.createdAt ? employee.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_employee_index') }}">back to list</a>

    <a href="{{ path('app_employee_edit', {'employeeId': employee.employeeId}) }}">edit</a>

    {{ include('employee/_delete_form.html.twig') }}
{% endblock %}
