{% extends 'base.html.twig' %}

{% block title %}Stage index{% endblock %}

{% block body %}
    <h1>Stage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>StageId</th>
                <th>StageName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stage in stages %}
            <tr>
                <td>{{ stage.stageId }}</td>
                <td>{{ stage.stageName }}</td>
                <td>
                    <a href="{{ path('app_stage_show', {'stageId': stage.stageId}) }}">show</a>
                    <a href="{{ path('app_stage_edit', {'stageId': stage.stageId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_stage_new') }}">Create new</a>
{% endblock %}
